@import '../../../styles.scss';

section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    color: white;
    max-width: 1920px;
    margin-top: 100px;
    height: calc(100vh - 108px) !important;

    .container {
        display: flex;
        flex-direction: row;
        margin-right: 100px;
        margin-left: 100px;

        .photo-container {
            position: relative;

            img {
                width: 50vw;
                max-width: 100%;
                max-height: 700px;
                object-fit: contain;
            }

            .photo {
                position: relative;
                z-index: 2;
            }

            .shadow {
                position: absolute;
                bottom: 10%;
                left: 0;
                width: 40vw;
                max-width: 750px;
                z-index: -1;
            }
        }
    }

    button {
        all: unset;
        line-height: 27.6px;
        font-size: 23px;
        padding: 15px 30px;
        border-radius: 10px;
        background-color: $primary1-color;
        color: white;
        width: fit-content;
        box-shadow: 4px 4px 4px 0px #00000040;
        transition: padding 100ms ease-out, margin 100ms ease-out;
        transform-origin: top;
        white-space: nowrap;
        cursor: pointer;

        &:hover {
            background-color: $primary2-color;
            padding: 20px 40px;
            margin-top: -5px;
            margin-bottom: -5px;
            margin-left: -10px;
            margin-right: -10px;
        }
    }
}

.animation {
    opacity: 0;
    transform: translateY(50px);
    animation: fadeInUp 1s ease-out forwards;
    animation-delay: 200ms;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.iam {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    span {
        font-size: 64px;
        font-weight: 400;
        line-height: 76.8px;
    }

    h1 {
        font-size: 90px;
        font-weight: 700;
        line-height: 108px;
    }

    h2 {
        font-weight: 400;
        font-size: 58px;
        line-height: 69.6px;
        color: $primary1-color;
    }

    .rotate {
        transform: rotate(-90deg);
        transform-origin: center;
        white-space: nowrap;
    }

    div {
        display: flex;
    }

    .headlines-container {
        padding-bottom: 44px;

        div {
            height: 100%;
            align-items: center;
        }
    }

    .headlines {
        flex-direction: column;
        justify-content: center;
    }
}

.social-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 90px;
    margin-right: 100px;

    .media {
        display: flex;
        align-items: center;
        gap: 32px;
        height: 40px;

        img:hover {
            transition: transform 100ms ease-out;
            transform: scale(1.4);
        }

        a {
            display: flex;
            align-items: center;
        }

        .mail {
            position: relative;

            &:hover::after {
                width: 60%;
            }

            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: -3px;
                width: 0;
                height: 2px;
                background-color: $primary1-color;
                transition: width 125ms ease-in-out;
            }
        }
    }

    .line {
        width: 100px;
        border: 2px solid $primary2-color;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    img {
        width: 30px;
    }

    a {
        color: white;
        font-size: 23px;
        line-height: 27.6px;
        font-weight: 400;
    }

    .scroll-down {
        font-size: 23px;
        display: flex;
        align-items: center;
        gap: 7px;
        rotate: 90deg;
        transform-origin: top right;
        animation: bounce 2s infinite;

        img {
            width: 16px;
            rotate: 90deg;
        }
    }
}

.hero-background {
    position: absolute;
    top: 350px;
    left: 0;
    width: 100%;
    z-index: -1;
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateX(0);
    }

    40% {
        transform: translateX(-10px);
    }

    60% {
        transform: translateX(-5px);
    }
}


// -------------------------- Media --------------------------

@media (max-width: 1024px) {
    section {
        .container {
            margin-right: 50px;
            margin-left: 50px;
        }

        .social-container {
            margin-right: 50px;
        }
    }


}

@media (max-width: 990px) {
    .iam {
        .rotate {
            font-size: 42px;
        }
    }

    .headlines {
        h1 {
            font-size: 72px;
        }

        h2 {
            font-size: 48px;
        }
    }
}

@media (max-width: 768px) {
    section {
        .container {
            flex-direction: column;
            align-items: center;
            margin-left: 25px;
            margin-right: 25px;

            .photo-container {
                .photo {
                    width: 30vw;
                }
            }
        }

        h1 {
            margin-bottom: 0;
        }
    }

    .iam {
        .headlines-container {
            .rotate-container {
                height: auto;
            }
        }
    }

    .social-container {
        margin-right: 25px;
        margin-top: 35px;

        .scroll-down {
            font-size: 21px;
            white-space: nowrap;
        }

        .media {
            .mail {
                display: none;
            }
        }
    }
}

@media (max-width: 680px) {
    section {
        button {
            font-size: 16px;
            line-height: 19.2px;
        }

        .container {
            .photo-container {
                .photo {
                    min-width: 250px;
                }
            }
        }
    }

    .headlines {
        h1 {
            font-size: 44px;
            line-height: 44px;
        }

        h2 {
            font-size: 28px;
            line-height: 33.6px;
            margin-bottom: 0;
        }
    }

    .iam {
        margin-top: 16px;

        .rotate {
            font-size: 32px;
            line-height: 32px;
        }
    }

    .social-container {
        .scroll-down {
            display: none;
        }
    }


}