<section>
    <div class="container">
        <div class="photo-container">
            <img class="photo" src="../../assets/img/general/example1.png" alt="Patrick1">
            <img class="shadow" src="../../assets/img/background/29. photo_shadows.png" alt="Photo-Shadow">
        </div>
        
        <div class="iam">
            <div class="headlines-container">
                <div><span class="rotate">I am</span></div>
                <div class="headlines">
                    <h1><b>Patrick Nigrin</b></h1>
                    <h2>FRONTEND DEVELOPER</h2>
                </div>
            </div>
            <a href="#contact"><button>Let's talk!</button></a>
            
        </div>
    </div>
    
    <div class="social-container">
        <div class="media">
            <div class="line"></div>
            <img src="../../assets/img/socialbuttons/github.png" alt="">
            <img src="../../assets/img/socialbuttons/email.png" alt="">
            <img src="../../assets/img/socialbuttons/linkedin.png" alt="">
            <a href="mailto:patricknigrin@gmail.com">patricknigrin&#64;gmail.com</a>
        </div>
        <div class="scroll-down">
            <span>Scroll down</span>
            <img src="../../assets/img/general/arrowup_white.png" alt="arrowup_white">
        </div>        
    </div>

</section>
<img class="hero-background" src="../../assets/img/background/28. hero_background.png" alt="Hero-Background">

