<section>
    <div class="shadow-container">
        <div class="overflow-wrapper"><img src="../../../assets/img/background/32 purple_shadow_portfolio.png" alt="green-shadow"></div>
        <img class="shadow-green" src="../../../assets/img/background/31. green_shadow_skills_portfolio.png" alt="green-shadow">
    </div>
    <div appScrollAnimation [delay]="200" class="headline">
        <div class="line"></div>
        <h1>{{ 'CONTACT_TITLE' | translate }}</h1>
    </div>
    <div class="container">
        <div class="text-container">
            <h2 appScrollAnimation [delay]="400">{{ 'CONTACT_SUBTITLE' | translate }}</h2>
            <span appScrollAnimation [delay]="600">{{ 'CONTACT_DESCRIPTION' | translate }}</span><br><br>
            <span appScrollAnimation [delay]="800">{{ 'CONTACT_CALL_TO_ACTION' | translate }}</span>
        </div>
        <div class="contact-container">
            <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
                <input 
                    appScrollAnimation [delay]="400"
                    #name="ngModel" minlength="2" [(ngModel)]="contactData.name" 
                    type="text" id="name" name="name" placeholder="{{ 'CONTACT_NAME_PLACEHOLDER' | translate }}" 
                    required 
                    [ngClass]="{'invalid-input': !name.valid && name.touched}">
                <div *ngIf="!name.valid && name.touched" class="required-log">{{ 'CONTACT_NAME_ERROR' | translate }}</div>
            
                <input 
                    appScrollAnimation [delay]="600"    
                    #email="ngModel" minlength="5" [(ngModel)]="contactData.email" 
                    type="email" id="email" name="email" placeholder="{{ 'CONTACT_EMAIL_PLACEHOLDER' | translate }}" 
                    required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}"
                    [ngClass]="{'invalid-input': !email.valid && email.touched}">
                <div *ngIf="email.errors?.['required'] && email.touched" class="required-log">{{ 'CONTACT_EMAIL_REQUIRED' | translate }}</div>
                <div *ngIf="email.errors?.['pattern'] && email.touched" class="required-log">{{ 'CONTACT_EMAIL_ERROR' | translate }}</div>
            
                <textarea 
                    appScrollAnimation [delay]="800"
                    #message="ngModel" minlength="4" [(ngModel)]="contactData.message" 
                    id="message" name="message" placeholder="{{ 'CONTACT_MESSAGE_PLACEHOLDER' | translate }}" style="height:200px" 
                    required 
                    [ngClass]="{'invalid-input': !message.valid && message.touched}"></textarea>
                <div *ngIf="!message.valid && message.touched" class="required-log">{{ 'CONTACT_MESSAGE_ERROR' | translate }}</div>
            
                <mat-checkbox appScrollAnimation [delay]="1000" #checked="ngModel" class="checkbox" color="primary" [(ngModel)]="contactData.isChecked" name="privacy">
                    <span>{{ 'CONTACT_PRIVACY' | translate }} <a href="privacy">{{ 'CONTACT_PRIVACY_LINK' | translate }}</a></span>
                </mat-checkbox>
                @if (!checked) {
                    <span class="required-log">{{ 'CONTACT_PRIVACY_ERROR' | translate }}</span>
                }
     
                <button appScrollAnimation [delay]="1000" class="sumbit-btn" type="submit" [disabled]="!isFormComplete()">
                    {{ 'CONTACT_BUTTON' | translate }}
                </button>
            </form>
            <a class="arrow-up" (click)="onSectionClick('abovethefold')">
                <svg class="arrow" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11 7.828L6.34302 12.485C5.95255 12.8755 5.31948 12.8755 4.92902 12.485C4.53855 12.0945 4.53855 11.4615 4.92902 11.071L11.2929 4.70711C11.6834 4.31658 12.3166 4.31658 12.7071 4.70711L19.071 11.071C19.4615 11.4615 19.4615 12.0945 19.071 12.485C18.6806 12.8755 18.0475 12.8755 17.657 12.485L13 7.828L13 19C13 19.5523 12.5523 20 12 20C11.4477 20 11 19.5523 11 19L11 7.828Z" fill="white"/>
                </svg>
            </a>
        </div> 
        <div [@dialogAnimation]="isDialogVisible ? 'visible' : 'hidden'" class="overlay">
            <span class="submit">{{ 'CONTACT_SUBMIT_MESSAGE' | translate }}</span>
        </div>  
    </div>
</section>
