@import '../../../styles.scss';

a {
    color: #FFFFFF;
    cursor: pointer;
}

header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    background-color: $background-color;
    z-index: 1000;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;


    .max-width {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        max-width: 1440px;
        margin: auto;
    }


    img {
        width: 150px;
        margin-left: 100px;
    }

    nav {
        display: flex;
        gap: 29px;
    }


    a {
        font-size: 23px;
        font-weight: 400;
        line-height: 27.6px;
        text-align: left;
    }

    .links {
        margin: 37px 100px 37px 0;

        a {
            position: relative;
            display: inline-block;
            cursor: pointer;

            &:hover {
                animation-timing-function: linear;
                animation-duration: 125ms;
            }

            &:hover::after {
                content: '';
                position: absolute;
                left: 0%;
                bottom: -2px;
                width: 60%;
                height: 2px;
                background-color: $primary1-color;
            }

            &::after {
                content: '';
                position: absolute;
                left: 0%;
                bottom: -2px;
                width: 0;
                height: 2px;
                background-color: $primary1-color;
                transition: width 125ms ease-in-out;
            }

            &.active::after {
                content: '';
                position: absolute;
                left: 0%;
                bottom: -2px;
                width: 60%;
                height: 2px;
                background-color: $primary1-color;
                transition: width 125ms ease-in-out;
            }
        }

        .lang-container {
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 6px;

            .lang:hover {
                color: $primary2-color;
                cursor: pointer;
            }

            .lang.active {
                font-weight: bold;
                color: $primary1-color;
            }
        }
    }

    .burger-menu {
        display: none;
        flex-direction: column;
        gap: 12px;
        margin-right: 25px;
        cursor: pointer;
        position: relative;
        width: 30px;
        height: 30px;

        .lane {
            width: 30px;
            height: 2px;
            background-color: white;
            transition: all 125ms ease;
        }

        @keyframes shrinkInwards {
            0% {
                opacity: 1;
                transform: scaleX(1);
            }

            100% {
                opacity: 0;
                transform: scaleX(0);
            }
        }

        &.active {
            .first {
                width: 40px;
                transform: rotate(45deg) translate(7px, 13px);
            }

            .mid {
                transform-origin: center;
                animation: shrinkInwards 0.7s forwards;
            }

            .last {
                width: 40px;
                transform: rotate(-45deg) translate(7px, -13px);
            }
        }
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transition: opacity 0.3s ease;

    &.active {
        display: flex;
        opacity: 1;
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: 50px;

        a {
            position: relative;
            color: white;
            font-size: 2rem;
            text-decoration: none;

            &:active {
                color: $primary1-color;
            }

            &:hover::after,
            &:active::after {
                width: 60%;
            }

            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: -12px;
                width: 0;
                height: 2px;
                background-color: $primary2-color;
                transition: width 125ms ease-in-out;
            }
        }
    }
}

// ---------------------------- Media ----------------------------

@media (max-width: 1024px) {
    section {
        img {
            margin-left: 50px;
        }

        .links {
            margin-right: 50px;
        }
    }


}

@media (max-width: 768px) {
    section {
        .burger-menu {
            display: flex;
        }

        .links,
        .lang-container {
            display: none;
        }

        a {
            margin-top: 34px;
            margin-bottom: 34px;
            display: flex;
            align-items: center;
        }

        img {
            width: 120px;
            margin-left: 25px;
        }
    }

    .container {
        .lang-container {
            display: flex;
            gap: 6px;
            align-items: center;
            justify-content: center;

            .lang:hover {
                color: $primary2-color;
                cursor: pointer;
            }

            .lang.active {
                font-weight: bold;
                color: $primary1-color;
            }
        }
    }
}