@import '../../../styles.scss';

a {
    color: #FFFFFF;
}

section {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 37px 100px;
    background-color: $background-color;
    z-index: 1000;

    div {
        display: flex;
        gap: 29px;
    }

    a {
        font-size: 23px;
        font-weight: 400;
        line-height: 27.6px;
        text-align: left;
    }

    a:hover {
        animation-timing-function: linear;
        animation-duration: 200ms;
        color: #70E61C;
    }
}