<section>
    <div class="about-me-container">
         <h1 appScrollAnimation [delay]="200">{{ 'ABOUT_ME_TITLE' | translate }}</h1>
         <span appScrollAnimation [delay]="200">{{ 'ABOUT_ME_INTRO' | translate }}</span>
         <div appScrollAnimation [delay]="300" class="margin-top">
             <img src="../../../assets/img/aboutme/location_green.png" alt="location_green">
             <span>{{ 'ABOUT_ME_LOCATION' | translate }}</span>
         </div>
         <div appScrollAnimation [delay]="400">
             <img src="../../../assets/img/aboutme/bulb_green.png" alt="bulb_green">
             <span>{{ 'ABOUT_ME_MINDSET' | translate }}</span>
         </div>
         <div appScrollAnimation [delay]="500">
             <img src="../../../assets/img/aboutme/puzzle_green.png" alt="puzzle_green">
             <span>{{ 'ABOUT_ME_PROFESSION' | translate }}</span>
         </div>
     </div>
     <div class="photo-container">
         <img appScrollAnimation [delay]="200"  class="photo" src="../../../assets/img/general/example2.png" alt="Patrick2">
         <div appScrollAnimation [delay]="200"  class="line"></div>
         <div class="overflow-wrapper">
             <img class="shadow" src="../../../assets/img/background/30. purple_shadow_about_me.png" alt="purple_shadow_about_me">
         </div>
     </div>
</section>
