@import '../../styles.scss';

section {
    margin-top: 101px;
    margin-left: 100px;
    margin-right: 100px;

    h1 {
        font-size: 32px;
    }

    .imprint {
        margin-bottom: 64px;
    }
}