@import '../../styles.scss';

section {
    margin-top: 101px;
    max-width: 1440px;

    h1 {
        font-size: 32px;
    }

    .imprint,
    .privacy {
        margin-bottom: 64px;
        margin-left: 100px;
        margin-right: 100px;
    }

    a {
        color: $primary2-color;
    }
}

// -------------------- Media --------------------

@media (max-width: 1024px) {
    section {

        .imprint,
        .privacy {
            margin-left: 50px;
            margin-right: 50px;
        }
    }
}

@media (max-width: 768px) {
    section {
        margin-top: 110px;

        .imprint,
        .privacy {
            margin-left: 25px;
            margin-right: 25px;
        }
    }
}