@import '../../styles.scss';

section {
    margin-top: 101px;
    margin-left: 100px;
    margin-right: 100px;
    max-width: 1920px;

    h1 {
        font-size: 32px;
    }

    .imprint {
        margin-bottom: 64px;
    }

    a {
        color: $primary2-color;
    }
}

// -------------------- Media --------------------

@media (max-width: 768px) {
    section {
        margin-top: 110px;
        margin-left: 25px;
        margin-right: 25px;
    }
}