<section>
    <div class="icon-container">
        <div *ngFor="let skill of skills">
          <img [src]="skill.src" [alt]="skill.alt">
          <span>{{ skill.name }}</span>
        </div>
      </div>
      
    <div class="skill-container">
        <div>
            <h1>My skills</h1>
            <div class="line"></div>
        </div>
        <span>I have gained experience in building projects with different frontend technologies and concepts.</span>
        <span class="big-font">Looking for <span>another skill </span>?</span>
        <span>Feel free to contact me. I look forward to expanding on my previous knowledge.</span>
        <button>Get in touch</button>
    </div>
</section>
