<div class="project-container" [ngClass]="{'reverse': reverse}">
    <div *ngIf="!reverse" class="image">
        <img [src]="imageSrc" [alt]="altText">
    </div>
    <div class="description">
        <span class="project">{{ projectName }}</span>
        <span class="languages">{{ languages }}</span>
        <span>{{ description | translate }}</span>
        <div class="buttons">
            <a [href]="liveTestLink" target="_blank"><button>Live test</button></a>
            <a class="btn-git" [href]="githubLink" target="_blank"><button>Github</button></a>
        </div>
    </div>
    <div *ngIf="reverse" class="image">
        <img [src]="imageSrc" [alt]="altText">
    </div>
</div>

