<div class="project-container" [ngClass]="{'reverse': reverse}">
    <div *ngIf="!reverse" class="image">
        <img [src]="imageSrc" [alt]="altText">
    </div>
    <div class="description">
        <div class="header-description" [ngClass]="{ 'reverse-row': reverse }">
          <span class="project">{{ projectName }}</span>
          <div class="status-btn" [ngClass]="{
            'status-online': status === 'online',
            'status-offline': status === 'offline',
            'status-in-progress': status === 'in-progress'
            }"></div>
        </div>
        
        <span class="languages">{{ languages }}</span>
        <span>{{ description | translate }}</span>
        <div class="buttons">
            <a [href]="liveTestLink" target="_blank">Live test</a>
            <a class="btn-git" [href]="githubLink" target="_blank">Github</a>
        </div>
    </div>
    <div *ngIf="reverse" class="image">
        <img [src]="imageSrc" [alt]="altText">
    </div>
</div>

