<section>
    <div class="imprint">
        <a href="#aboveTheFold"><span>Patrick</span></a>
        <a class="imprint" href="privacy">Privacy Policy</a>
    </div>
    <div>
        <span>© Patrick Nigrin 2024</span>
    </div>
    <div class="socialbtns">
        <a href="https://github.com/Patrick0815300"><img src="../../../assets/img/socialbuttons/github.png" alt="Git-Icon"></a>
        <a href="mailto:mail@patrick-nigrin.de"><img src="../../../assets/img/socialbuttons/email.png" alt="Mail-Icon"></a>
        <a href="https://www.linkedin.com/in/patrick-nigrin-686b98285/"><img src="../../../assets/img/socialbuttons/linkedin.png" alt="LinkedIn-Icon"></a>
    </div>
</section>
